<.header>
  New Frage
  <:subtitle>Use this form to manage frage records in your database.</:subtitle>
</.header>

<.frage_form changeset={@changeset} action={~p"/wahlen/#{@wahl_id}/fragen"} />

<.back navigate={~p"/wahlen/#{@wahl_id}/fragen"}>Back to fragen</.back>
