<.header>
  Edit Option {@option.id}
  <:subtitle>Use this form to manage option records in your database.</:subtitle>
</.header>

<.option_form
  changeset={@changeset}
  action={~p"/wahlen/#{@wahl_id}/positionen/#{@position_id}/optionen/#{@option}"}
/>

<.back navigate={~p"/wahlen/#{@wahl_id}/positionen/#{@position_id}/optionen"}>
  Back to optionen
</.back>
