<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:wert]} type="text" label="Wert" />
  <:actions>
    <.button>Save Option</.button>
  </:actions>
</.simple_form>
