<.header>
  Position {@position.id}
  <:subtitle>This is a position record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/wahlen/#{@wahl_slug}/positionen/#{@position}/edit"}>
      <.button>Edit position</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@position.name}</:item>
</.list>

<.back navigate={~p"/wahlen/#{@wahl_slug}/positionen"}>Back to positionen</.back>
