<.header>
  New Wahl
  <:subtitle>Use this form to manage wahl records in your database.</:subtitle>
</.header>

<.wahl_form changeset={@changeset} action={~p"/wahlen"} />

<.back navigate={~p"/wahlen"}>Back to wahlen</.back>
